:root {
    --drkred: #8D0801;
    --lghtred: #BF0603;
    --yellow: rgb(245, 236, 159);
    --grey: #708D81;
    --navy: #001427;
    --aqua: #5DFDCB;
}
body {
    background-color: var(--navy);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.questionbox {
    background-image: linear-gradient( var(--navy), var(--lghtred));
    text-align: center;
    color: var(--aqua);
    background-color: var(--drkred);
    padding: 40px;
    border-radius: 15px;
    margin: 10px
}
#questionSetOne {
    margin-top: 0;
}
.button {
    color: var(--yellow)!important;
    border-color: var(--yellow)!important;
    width: 100%;
}

#questionOne {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionTwo {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionThree {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionFour {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionFive {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionSix {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionSeven {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionEight {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionNine {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}
#questionTen {
    color: var(--yellow);
    font-size: 30px;
    text-shadow: 1px 1px black;
}

.input {
    margin: 10px;
    margin-left: 0%;
    background-color: transparent !important;
    border-bottom: 3px solid var(--yellow) !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input::placeholder {
    color:var(--yellow);
    font-size: 22px;
    text-shadow: 1px 1px var(--navy);
}

.input::focus {
    border: none !important;
}

#questionOneMovieDescription {
    color: #fff;
    text-shadow: 1px 1px black;
}

#questionFiveMovieDescription {
    color: #fff;
    text-shadow: 1px 1px black;
}

/*new css by jared colletti related to changing the background color of the options clicked by the user*/
.clicked {
    background-color: var(--navy) !important;
}

#viewResults {
    display: none;
    height: 100vh;
    background-image: linear-gradient( var(--navy), var(--lghtred));
    text-align: center;
    padding-top: 18%;
}

#finalScore {
    color: var(--yellow);
}

.add-flex {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.submitBtnEl {
    display: flex;
    justify-content: center;
    
}
#submitBtn {
    padding: 8px 20px;
    width: 90%;
    border-radius: 5px !important;
    border-color: var(--yellow);
    background-color: transparent;
    color: var(--yellow);
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
#playAgain {
    position: relative;
    right: 77px;
    border: solid 3px var(--yellow);
    color: var(--yellow);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#playAgain:hover {
    background-color: var(--yellow);
    color: var(--navy);
}

.guessMovieBtn {
    padding: 7px 20px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border-color: var(--yellow);
    cursor: pointer;
    color: white;
}
#InputForSubmitHighScore {
    background-color: transparent !important;
    border-bottom: 3px solid var(--yellow) !important;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    left: 7px;
}
#InputForSubmitHighScore::placeholder {
    font-size: 14px;
    color: white;
}
#SubmitBtnForHighScore {
    background-color: transparent;
    border-color: var(--yellow);
    border-bottom: solid 3px var(--yellow);
    border-top: solid 3px var(--yellow);
    border-left: solid 3px var(--yellow);
    border-right: solid 3px var(--yellow);
    color: var(--yellow);
    border-radius: 5px;
    cursor: pointer;
}
#SubmitBtnForHighScore:hover {
    background-color: var(--yellow);
    color: var(--navy);
}